.img{
   text-align: center;
   font-size: 5rem;
}

.contenido{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dos{
    background-color: rgb(42, 136, 194);
    border: ridge 3px;
}