<div class="dos">
    <div class="img">
        <img src="assets/yo.jpg" alt="Yo" width="250" height="250">
    </div>
    <div class="contenido">
        <h1>Nombre: Dulce Maria</h1>
        <h1>Apellidos: Sánchez Diaz</h1>
        <h1>Edad: 21 años</h1>
        <h1>Carrera: Sistemas Computacionales</h1>
        <h1>Grupo: 3</h1>
        <h1>Semestre: Octavo</h1>
        <h1>Fecha de nacimiento: 27/09/2001</h1>
    </div>    
</div>
