<div class="tres">
    <a href="https://www.facebook.com/profile.php?id=100007377884470&mibextid=ZbWKwL"><img src="assets/1.png" alt="facebook" width="50" height="50"></a>
    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Fdulcemar0601%3Figshid%3DZDdkNTZiNTM%253D%26fbclid%3DIwAR0DPUWbOQj6o_nY7ajz8B-loIGRPxlGtFxeaddENJpYnoF1kkh1vnfk-5M&h=AT1rfkQWsQ0NsY4vJ44LAcOPUr8ah6WBhFM482FwFShfuIDkOEYAiJaUzgpu7dMiw_O4MqXUEMjj7xW1ArH9juOgxcNg0uHmurNQW3wP4I2JS8d4kW2kwFcY4IeAtEPX0DpxeeouZMmWcV6a_tlY1A"><img src="assets/2.png" alt="instagram" width="50" height="50"></a>
    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fopen.spotify.com%2Fuser%2Fregina%2521-12%3Fsi%3DUs53eT-aRzidG5rJeMC3Tg%26fbclid%3DIwAR0xf2cvPRvYNBUSTi1bLPAaAyXqXb31fgnpEyud2BDfw6zC-hRJxHcFnO4&h=AT1rfkQWsQ0NsY4vJ44LAcOPUr8ah6WBhFM482FwFShfuIDkOEYAiJaUzgpu7dMiw_O4MqXUEMjj7xW1ArH9juOgxcNg0uHmurNQW3wP4I2JS8d4kW2kwFcY4IeAtEPX0DpxeeouZMmWcV6a_tlY1A"><img src="assets/3.png" alt="spotify" width="50" height="50"></a>
    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fyoutube.com%2F%40dulcemariasanchezdiaz4347%3Ffbclid%3DIwAR3Geeo3n_oPlrpWGmlER3qiidp4TQ2VpfHkFitFyG8AQitMtOiLGmYTTys&h=AT1rfkQWsQ0NsY4vJ44LAcOPUr8ah6WBhFM482FwFShfuIDkOEYAiJaUzgpu7dMiw_O4MqXUEMjj7xW1ArH9juOgxcNg0uHmurNQW3wP4I2JS8d4kW2kwFcY4IeAtEPX0DpxeeouZMmWcV6a_tlY1A"><img src="assets/4.png" alt="youtube" width="50" height="50"></a>
</div>
