.container{
    color:rgba(4, 50, 110, 0.685); 
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: ridge 3px;
    background-color:  rgb(42, 136, 194);
}